<div class="container">

  <hr>

  <div class="row">
    <div class="col-sm-12">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <a href="/rock" type="button" class="btn btn-primary">Play Rock</a>
        <a href="/paper" type="button" class="btn btn-info">Play Paper</a>
        <a href="/scissors" type="button" class="btn btn-primary">Play Scissors</a>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-success">
        <div class="panel-heading " color= #333 background-color= #f5f5f5>
          <center><%= @user_move %></center>
        </div>
        <div class="panel-body">
          <img class="img-responsive" src="http://localhost:3000/assets/images/<%= @user_move %>.png">
        </div>
      </div>
    </div>

    <div class="col-sm-offset-0 col-sm-6">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <center><%= @computer_move %></center>
        </div>
        <div class="panel-body">
          <img class="img-responsive" src="http://localhost:3000/assets/images/<%= @computer_move %>.png">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="well text-center">
       <h1>
       <span class="label label-<%= @buttoncolor %>">
        You <%= @result %>!
       </span>
       </h1>
      </div>
    </div>
  </div>

</div>
